.container{
     min-height: 100vh;
     display: grid;
     background-color: #222831;
     padding-bottom: 2rem;
    
     h2{
          color: #fff;
          padding: 1rem 0;
          text-align: center;
     }
}